/* Pages */

.title-header {
  @apply bg-slate-800 w-full py-4 flex justify-center shadow-lg  mb-8 items-center sticky top-0;

  &--red-shadow {
    @extend .title-header;
    @apply shadow-red-600;
  }
  &--green-shadow {
    @extend .title-header;
    @apply shadow-green-600;
  }
  &--blue-shadow {
    @extend .title-header;
    @apply shadow-blue-600;
  }
  &--orange-shadow {
    @extend .title-header;
    @apply shadow-orange-600;
  }

  h2 {
    font-size: 40px;
    color: white;
    margin-right: 8px;
  }

  img {
    height: auto;
    width: 50px;
  }

  &-icon {
    @apply text-[50px];
  }
}
